body { 
    color: rgba(166, 15, 172, 0.63) ;
    background-color:rgb(234, 247, 179);
    margin: 0rem;
    font-family: Calibri;
}

.main_header {
    background-color:#632A50;
    color: #C2E812 ;
    font-family: calibri;
    padding: 0.8rem 1rem 0.5rem 0rem;
}

.main_header p {
font-size: 1.33rem;
font-weight: bold;
margin-top: 1rem;
}

.main_footer {
    font-family: Georgia;
    background-color: #93748A;
    color: rgb(170, 248, 230);
    text-align: center;
    padding: 1rem;
    }

.content_wrapper {
    margin: 1rem 3rem;
}

.image_wrapper {
    text-align: center;
}

img{ 
    max-width: 100%;
}

.pre_no_mono  {
    font-family: inherit;
}

blockquote {
/*margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 40px;
margin-inline-end: 40px; */
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 4px solid lightgrey;
    font-style: italic;
}

blockquote footer {
    margin-top: 0.5rem;
    border-top: 1px solid gray;
    padding-top: 0.3rem;
    width: fit-content;
}

/*ul {
    list-style-type: decimal;
}

ol {
list-style-type: disc
}*/

.dt {
    float: left;
    clear: left;
}
.dd {
    float: left;
    clear: right;
}

.clearfix {
    clear: both;
}

footer a {
    color: inherit;
}

.main_header p {
    margin-bottom: 0;
}

.verde {
    color:#C2E812;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: line-through;
}
/*
strong {
    font-weight: normal;
}
*/