.main-header,
.main-footer {
    background-color: salmon;
    color: slateblue;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
}

.form-group {
    padding: 1rem;
}

.form-group label,
.form-group input,
.form-group textarea{
    display: block;
    width: 100%;
}

.form-group input,
.form-group textarea {
    border: none;
    border-bottom: 1px solid rgb(169, 169, 169, 0.65);
}

